/* General styling */
header {
    font-family: 'Roboto', sans-serif;
    background-color: #333;
    color: white;
    padding: 20px;
    text-align: center;
}
nav ul {
    list-style-type: none;
    padding: 0;
}
nav ul li {
    display: inline;
    margin: 0 15px;
}
nav ul li a {
    color: rgb(113, 69, 150);
    text-shadow: 1px 1px 2px rgba(0, 0, 255, 0.2);
    text-decoration: none;
}

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(90deg, #564875, #222);
}
section {
    padding: 40px;
    margin: 20px;
}
h1, h2, h3, a, button{
    font-weight: 700;
    text-transform: uppercase; 
    line-height: 1.4; 
    margin-bottom: 20px;
    color: #dbdbdb;
    text-shadow: 1px 1px 2px rgba(192, 180, 180, 0.2);
}
p, ul, li {
    font-weight: 700;
    text-transform: uppercase;
    line-height: 1.4;
    margin-bottom: 20px; 
    color: #a0a0a0;
    text-shadow: 1px 1px 2px rgba(192, 180, 180, 0.2);
}
ul, li {
    font-size: 1em;
    line-height: 0.8;
}
/* Footer styling */
footer {
    font-family: 'Roboto', sans-serif;
    background-color: #222;
    padding: 30px;
    color: #aaa;
    font-size: 14px;
    text-align: center; 
}

/* Align contact details and buttons horizontally */
#contact {
    display: flex;
    justify-content: center; 
    gap: 20px; 
    flex-wrap: wrap;
}
