/* Styling for projects section */
#projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;
}
/* Center the <a> element */
.project a {
    width: 100%; 
    height: auto;
    margin: 0 auto; 
    display: block; 
}

.project {
    flex-direction: column; /* Arrange children in a column */
    align-items: center; /* Center items horizontally */
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 300px;
    margin-bottom: 30px;
    padding-bottom: 20px;
    transition: transform 0.5s, box-shadow 0.5s;
}

.project img {
    width: 100%; 
    height: auto;
    margin: 0 auto; 
    display: block; 
}

.project a {
    display: block;
    width: 50%;
}

.project:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.project h2, .project h3 {
    padding: 10px;
    font-size: 1em;
    color: #ccc;
}

.project h3 {
    font-size: 1.5em;
    background-color: #333;
    color: #ccc;
    margin: 0;
}
.project p {
    padding: 10px;
    letter-spacing: 1px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 1.4;
    color: #181818;
    text-shadow: 1px 1px 2px rgba(192, 180, 180, 0.2);
}

/* List view style */
.project-list-view .project {
    width: 80%;
}

.project-list-view img {
    width: 80%;
    height: auto;
}

/* Mode indicator style */
#mode-indicator {
    position: fixed;
    top: 20px;
    left: 100px;
    font-size: 16px;
    font-weight: 700;
    color: #dbdbdb;
    text-shadow: 1px 1px 2px rgba(192, 180, 180, 0.2);
}
