
.button-container {
    display: flex;    
    margin-top: auto;
    margin-top: auto; /* Pushes this container to the bottom */
}

.button-link {
    display: block;
    background-color: #952daf;
    color: white;
    padding: 10px;
    border-radius: 10px; 
    margin: 10px;
    font-size: x-large;
    transition: transform 0.5s;
    align-self: flex-end;
}

.button-link:hover {
    transform: translateY(-5px);
}

/* Style for the switch */
.switch {
    position: fixed;
    top: 20px;
    left: 20px;
    z-index: 1;
    width: 60px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    border-radius: 34px;
    transition: .4s;
    cursor: pointer;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    border-radius: 50%;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: .4s;
}

input:checked + .slider {
    background-color: #952daf;
}

input:checked + .slider:before {
    transform: translateX(26px);
}
