/* Styling for projects section */
#projects {
    display: flex;
    flex-wrap: wrap;
}

.project {
    display: flex; /* Make sure this is set */
    flex-direction: column;
    max-width: 300px;
    min-width: 100px;
}

.project a {
    margin: 0 auto; 
}

.project h3{
    align-self: center;
    text-align: center;
    font-size: x-large;
    height: 2lh;
}

.image-container {
    position: relative;
    width: 100%;
    overflow: hidden;
}
.project img {
    width: 100%;
    height: auto;
    display: block;
    cursor: zoom-in;
    transition: transform 0.3s ease, opacity 0.3s ease;
    object-fit: cover;
    mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 100%);
    -webkit-mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 100%);
}

.image-container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
    pointer-events: none;
    transition: opacity 0.3s ease;
    z-index: 1;
}

.project img.fullscreen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    object-fit: contain;
    z-index: 1000;
    cursor: zoom-out;
    mask-image: none;
    -webkit-mask-image: none;
}

.project img.fullscreen + .image-container::before {
    display: none;
}
